local.cfg

## compile temporaries
/build
*.o
*.a
*.so
callgrind.out.*

## EXECUTABLE
*.exe

## IDE temporaries
*.kdev4
vc60.idb
.*.config
.*.creator
.*.creator.user*
.*.files
.*.includes
.*.cflags
.*.cxxflags

.cproject
.project
*eclipse*

tags
.cccc

## GIT
*.orig

## PYTHON
*.pyc
_*.py
.ipynb_checkpoints

## EXECUTION
core
CORE
*.log

## BACKUP/temporary files
*.tmp
*.dat
nogit*
*~
z.*
z/
rai.log
.#*#
.#*
#*#
*.nbconvert.*

## MAKE
Makefile.dep
Make.lock
.lastMake
makefile

## CMAKE
CMakeCache.txt
CMakeFiles
cmake_install.cmake
CMakeLists.txt.user
CTestTestfile.cmake
